@import "@papit/theme";

body {
    background-color: var(--background, light-dark(oklch(96% 0 0), oklch(17% 0 0)));
    color: var(--text, #080808);
    margin: 0;
    background-image: radial-gradient(circle at 50% 50%, var(--background-darkest) 1px, transparent 0);
    background-size: 20px 20px;
}