:host {
    display: flex;
    position: relative;
    overflow-x: hidden;

    --gap: 0.6rem;
    --color: color-mix(var(--background-inverse, light-dark(oklch(16% 0 0), oklch(92% 0 0))), 30% transparent);
    --value: 50%;

    gap: var(--gap);
    border: var(--color) 1px solid;

    div.panel {
        flex-shrink: 0;
        box-sizing: border-box;
        flex: 1 1 0;
    }

    div[part="primary"] {
        flex: 0 0 var(--value);
    }

    div[part="separator"] {
        position: absolute;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            border-radius: 100vh;
            opacity: .7;
            transition: ease 80ms opacity;
            background-color: color-mix(var(--background-inverse, light-dark(oklch(16% 0 0), oklch(92% 0 0))), 30% transparent);
        }

        &:hover {
            span {
                opacity: 1;
            }
        }
    }
}

:host([split="vertical"]) {
    div.panel {
        overflow-x: auto;
    }

    div[part="separator"] {
        top: 0;
        bottom: 0;
        left: var(--value);
        width: var(--gap);
        cursor: col-resize;

        span {
            width: 0.3rem;
            height: 1.5rem;
        }
    }
}

:host([split="horizontal"]) {
    flex-direction: column;

    div.panel {
        overflow-y: auto;
    }

    div[part="separator"] {
        left: 0;
        right: 0;
        top: var(--value);
        height: var(--gap);
        cursor: row-resize;

        span {
            height: 0.3rem;
            width: 1.5rem;
        }
    }
}

:host([data-drag]) {
    user-select: none;
}