:host {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--space-2, .5rem) var(--space-1, .25rem);
    background-color: var(--background, light-dark(oklch(96% 0 0), oklch(17% 0 0)));
}

:host([aria-expanded="true"]),
:host(:focus) {
    background-color: var(--background-light, light-dark(oklch(99% 0 0), oklch(22% 0 0)));
}

:host([aria-haspopup="menu"])::after {
    padding-left: var(--space-1, 0.25rem);
    margin-left: auto;
    content: "›";
    margin-inline-start: auto;
}