dialog#liveservererrorpopup {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16pt;
}

dialog#liveservererrorpopup>span {
  background-color: rgba(255, 0, 0, 0.584);
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  letter-spacing: 0.1rem;
}

dialog#liveservererrorpopup::backdrop {
  background-color: rgba(0, 0, 0, 0.63);
}